.Table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  .Table td, .Table th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .Table tr:nth-child(even){background-color: #f2f2f2;}
  
  .Table tr:hover {background-color: #ddd;}
  
  .Table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(63, 199, 188);
    color: white;
    text-transform: capitalize;
  }

  .TableContent {
      margin:  100px
  }